# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

## Emacs
\#*#
.#*

cover.out
cover.html
shellflow
shellflow_linux*
shellflow_linux*
shellflow_*bsd*
shellflow_darwin*
shellflow_windows*
tmp/
shellflow-wf/

.vscode